:root {
    --font-family: 'Montserrat', sans-serif;
    --font-weight: 500;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}

nav.navbar {
    padding: 1rem 3rem;
    background-color: rgb(107, 179, 155);
}